.filterWrapper {
  padding-top: 50px;
}

.filter_input {
  margin-left: 10px;
  font-size: 18px;
  border-radius: 5px;
  outline: none;
  border: none;
  transition: 0.3s;
  height: 25px;
  width: 300px;
}

.filter_input:focus,
.filter_input:hover {
  box-shadow: 0 0 0 3px teal;
  transition: 0.3s;
}

.filter_label {
  font-size: 22px;
  font-weight: 600;
  color: brown;
  margin-top: 150px;
}
